<a href="https://colab.research.google.com/github/BrianMohamadSafiudin/Gower/blob/main/gower.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Apa itu Gower Distance ?
==

Gower Distance adalah ukuran jarak yang dapat digunakan untuk menghitung jarak antara dua entitas yang atributnya memiliki campuran nilai kategorikal dan numerik. Berikut adalah perhitungan jarak Gower dengan Python.

Instalasi Gower :
==

In [1]:
pip install gower

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gower in /usr/local/lib/python3.8/dist-packages (0.1.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from gower) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from gower) (1.21.6)

Dataset :
==

In [2]:
import numpy as np
import pandas as pd
import gower

In [3]:
Xd=pd.DataFrame({'age':[14,19,10,14,21,19,30,35],
                 'preTestScore':[4,24,31,3,3,4,31,9],
                 'postTestScore':[25,94,57,30,70,25,69,95],
                 'available_credit':[2200,1000,22000,2100,2000,1000,6000,2200],
                 'gender':['M','M','M','M','F','F','F','F']})
Xd

   age  preTestScore  postTestScore  available_credit gender
0   14             4             25              2200      M
1   19            24             94              1000      M
2   10            31             57             22000      M
3   14             3             30              2100      M
4   21             3             70              2000      F
5   19             4             25              1000      F
6   30            31             69              6000      F
7   35             9             95              2200      F

Jarak Matriks :
==

In [4]:
gower.gower_matrix(Xd)

array([[0.        , 0.39142856, 0.5048571 , 0.02238095, 0.39361906,
        0.25142857, 0.6827619 , 0.6037143 ],
       [0.39142856, 0.        , 0.4277143 , 0.38333333, 0.44409522,
        0.54      , 0.4570476 , 0.4494286 ],
       [0.5048571 , 0.4277143 , 0.        , 0.49866667, 0.715619  ,
        0.7562857 , 0.5466667 , 0.8542857 ],
       [0.02238095, 0.38333333, 0.49866667, 0.        , 0.3712381 ,
        0.27190477, 0.6765714 , 0.5975238 ],
       [0.39361906, 0.44409522, 0.715619  , 0.3712381 , 0.        ,
        0.1612381 , 0.31295237, 0.22819048],
       [0.25142857, 0.54      , 0.7562857 , 0.27190477, 0.1612381 ,
        0.        , 0.4541905 , 0.37514287],
       [0.6827619 , 0.4570476 , 0.5466667 , 0.6765714 , 0.31295237,
        0.4541905 , 0.        , 0.30761904],
       [0.6037143 , 0.4494286 , 0.8542857 , 0.5975238 , 0.22819048,
        0.37514287, 0.30761904, 0.        ]], dtype=float32)

Membandingkan semua jarak dengan baris pertama :
==

In [6]:
first_row=gower.gower_matrix(Xd)[0]
first_row

array([0.        , 0.39142856, 0.5048571 , 0.02238095, 0.39361906,
       0.25142857, 0.6827619 , 0.6037143 ], dtype=float32)

Baris pertama :
==

In [7]:
Xd[:1]

   age  preTestScore  postTestScore  available_credit gender
0   14             4             25              2200      M

Jarak minimal ke baris pertama :
==

In [8]:
Xd[first_row == min(first_row[first_row != min(first_row)])]

   age  preTestScore  postTestScore  available_credit gender
3   14             3             30              2100      M

Jarak maksimal ke baris pertama :
==

In [9]:
Xd[first_row == max(first_row)]

   age  preTestScore  postTestScore  available_credit gender
6   30            31             69              6000      F

Kesimpulan :
==

Jarak antara Baris 1 dan Baris 3 adalah 0,02 dan jarak antara Baris 1 dan Baris 6 adalah 0,68.

>Ini menunjukkan bahwa Baris 1 adalah yang paling mirip dengan Baris 3.